{% extends "base.html" %}

{% block title %}予定一覧{% endblock %}
{% block content %}
<h1>予定一覧</h1>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>日付</th>
      <th>氏名</th>
      <th>AM①</th>
      <th>AM②</th>
      <th>PM①</th>
      <th>PM②</th>
      <th>連絡事項</th>
    </tr>
  </thead>
  {% for schedule in object_list %}
  <tr>
    <td>{{ schedule.calendar_day }}</td>
    <td>{{ schedule.idnumber }}</td>
    <td>{{ schedule.fast_schedule }}</td>
    <td>{{ schedule.second_schedule }}</td>
    <td>{{ schedule.third_schedule }}</td>
    <td>{{ schedule.fourth_schedule }}</td>
    <td>{{ schedule.fourth_schedule }}</td>
  </tr>
  </tr>
  {% endfor %}
</table>
{% endblock %}